* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #7abcd8;
    color: white;
}

@font-face {
    font-family: 'Martin';
    src: url(../fonts/swissc.ttf);
}

@font-face {
    font-family: 'Martin2';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}




#contenedorheader {
    display: flex;
    justify-content: center;
    height: auto;
    /* background-color: cadetblue; */
    width: 96%;
    padding: 0% 2%;
    background-image: url(../img/Fondoheader2.jpg);
}

#logoprincipal {
    padding-left: 25%;
}


#logoprincipal img {
    margin: auto;
    display: block;
    border-style: none;
    justify-content: center;

}

figcaption {
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: bolder;


}

#logosredes {
    padding-top: 1%;
    padding-left: 10%;
    flex-direction: row;
    display: flex;

}

#logosredes>a {
    margin-left: 1%;

}

#menuprincipal {
    display: flex;
    position: sticky;
    top: 0px;
    /*justify-content: center;*/
    width: 96%;
    height: 60px;
    padding: 0% 2%;
    background-color: #9FC8D9;
    /* border-top: 1px solid #094660; */
    /* border-bottom: 1px solid #094660; */
}

/* formato flex al contenedor hijo del nav*/
#menuprincipal>div {
    flex: 1;

}

/* aplicamos la pseudo hover cuando se pasa por encima del menu y cambia el color*/
#menuprincipal li:hover {
    background-color: #6FACC6;
}

/*formato para los <a> del menu*/
#menuprincipal a {
    color: #333333;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 24px;
    /* font-weight: bold; */
}


#listamenu {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/* Formato a las li del menu princial les da formato relativo y las convierte en bloque inline*/
#listamenu>li {
    position: relative;
    display: inline-block;
    height: 45px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

/*"Esconde" el menu desplegable*/
#listamenu li>ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #9FC8D9;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}

/*estable las medidas del la lista del segundo ul anidado*/
#listamenu li>ul>li {
    width: 250px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    text-align: left;
}

/* el hover cuando pasas el mouse cambia la opcion de display y hace visible el menu desplegable*/
#listamenu li:hover ul {
    display: block;
}

/* formato a las <a> de las lista desordenadas*/
#listamenu a {
    color: #333333;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 24px;

}

/*formato para el contenerdor padre de la seccion principal - formato de flex centrado y un background de fondo*/
#mainindex {
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 2%;
    background-image: url("../img/gray-concrete-wall.jpg");
}

/*formato del contenedor hijo donde de pondran las secciones de la pagina principal*/
#mainindex div {
    display: flex;
    flex: 1;
    max-width: 96%;
    padding: 0%;
}

#mainindex h1 {
    margin-bottom: 5px;
    font-size: 2em;
    text-align: center;
    font-family: 'Arial Narrow';
    text-decoration: underline;
}

/*formato del contenedor nieto ja donde se pondran los articulos*/
#articulosprincipales {
    flex: 1;
    margin-right: 0px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.articulo1main {
    display: grid;
    width: 60%;
    padding: 2%;
    padding-left: 10%;
    padding-bottom: 1%;
    grid-template-areas: "a b c d"
        "e f g h"
        "i j k l"
    ;

    grid-template-columns: 35px 1fr 35px 1fr;
    grid-template-rows: repeat(3, 50px);
    /* border: 1px solid black; */
    row-gap: 2%;
    column-gap: 1%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: max-content;
    align-items: center;
}

#icono1 {
    grid-area: a;
}

#icono2 {
    grid-area: c;
}

#icono3 {
    grid-area: e;
}

#icono4 {
    grid-area: g;
}

#icono5 {
    grid-area: i;
}

#icono6 {
    grid-area: k;
}

#texto1 {
    grid-area: b;
    justify-content: left;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
}

#texto2 {
    grid-area: d;
    justify-content: left;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
}

#texto3 {
    grid-area: f;
    justify-content: left;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
}

#texto4 {
    grid-area: h;
    justify-content: left;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
}

#texto5 {
    grid-area: j;
    justify-content: left;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
}

#texto6 {
    grid-area: l;
    justify-content: left;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
}

/* .articulomain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
  
} */


/*Formato del p dentro de los articulos*/
.articulomain p {
    font-size: 1.25em;
    text-align: justify;
    font-family: 'Arial Narrow';
    padding: 0% 2%;
}

/* .articulomain ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
 
    justify-content: space-evenly;
    float:inline-start;
    align-items: center;
} */

/* .articulomain>ul>li {
    font-family: 'Martin';
    font-size: 30px;
    float: left;
   

} */

.articulomain img {
    /* height: 35px; */
    width: 60%;
}


.articulo1main>img {
    height: 35px;
    width: 35px;
}

.articulo2main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0% 2% 2% 2%;

}

/*Formato del h1 dentro de los articulos*/
.articulo2main h1 {
    margin-bottom: 5px;
    font: bold 30px arial;
    text-align: center;
}

/*Formato del p dentro de los articulos*/
.articulo2main>p {
    font-size: 1.25em;
    text-align: justify;
    font-family: 'Arial Narrow';
    padding: 2% 2% 0% 2%;
}

/*Formato del p dentro de los articulos*/
.articulo2main>p>a {
    font-size: 1em;
    font-family: 'Arial Narrow';
}

.articulo2main>p>a:visited {
    color: blue;
}

.articulo2main>p>a:link {
    color: blue;
}

/*formato para la seccion figure donde estan las imagenes*/
figure {
    margin: 10px 0px;
}

/*formato de las imagenes*/
#articulosprincipales figure img {
    max-width: 98%;
    display: block;
    padding: 1%;
    /* border: 1px solid black; */
    margin: auto;
}

#reproductor {
    display: flex;
    justify-content: center;
}


/*#contenedorfooter ul {
    position: relative;
    display: inline-block;
    list-style: none;
    height: 90px;
    width: 94%;
    padding-left: 1%;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    text-align: left;
    font-family: Martin;
    font-size: 14px;
}*/

#contenedorcow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    padding: 2%;
    align-items: center;
    background-image: url("../img/gray-concrete-wall.jpg");
}

#titulocow{
    display: flex;
    justify-content: center;
    width: 60%;

}

#titulocow>p{
    font-family: 'Arial Narrow';
    font-size: 3em;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 10px;
    padding: 1%;
   width: 96%;
   text-align: center;
   text-decoration: underline;
}

#articulocow{
    width: 86%;
    /* border: 1px black solid; */
    border-radius: 10px;
    margin: 1%;
    padding-top: 2%;
}

#articulocow>p{
    font-family: 'Arial Narrow';
    font-size: 1.5em;
    text-align: justify;
}

#contenedorsalareuniones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    padding: 2%;
    align-items: center;
    background-image: url("../img/gray-concrete-wall.jpg");
}

#titulosalareuniones{
    display: flex;
    justify-content: center;
    width: 60%;

}

#titulosalareuniones>p{
    font-family: 'Arial Narrow';
    font-size: 3em;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 10px;
    padding: 1%;
   width: 96%;
   text-align: center;
   text-decoration: underline;
}

#articulosalareuniones{
    width: 86%;
    /* border: 1px black solid; */
    border-radius: 10px;
    margin: 1%;
    padding-top: 2%;
}

#articulosalareuniones>p{
    font-family: 'Arial Narrow';
    font-size: 1.5em;
    text-align: justify;
}

#articulosalareuniones>p>a{
    font-family: 'Arial Narrow';
    font-size: 1em;
    text-align: justify;
}
#articulosalareuniones p a:link {
        color: blue;
    }
    
    #articulosalareuniones p a:hover {
        background-color: lightblue;
    }
    
    #articulosalareuniones p a:visited {
        color: blue;
    }


#imagensalareuniones{
    display: flex;
    padding-top: 2%;
    justify-content: center;
}

#contenedorsalacapacitacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    padding: 2%;
    align-items: center;
    background-image: url("../img/gray-concrete-wall.jpg");
}

#titulosalacapacitacion{
    display: flex;
    justify-content: center;
    width: 60%;

}

#titulosalacapacitacion>p{
    font-family: 'Arial Narrow';
    font-size: 3em;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 10px;
    padding: 1%;
   width: 96%;
   text-align: center;
   text-decoration: underline;
}

#articulosalacapacitacion{
    width: 86%;
    /* border: 1px black solid; */
    border-radius: 10px;
    margin: 1%;
    padding-top: 1%;
}

#articulosalacapacitacion>p{
    font-family: 'Arial Narrow';
    font-size: 1.5em;
    text-align: justify;
}

#articulosalacapacitacion>p>a{
    font-family: 'Arial Narrow';
    font-size: 1em;
    text-align: justify;
}
#articulosalacapacitacion p a:link {
        color: blue;
    }
    
    #articulosalacapacitacion p a:hover {
        background-color: lightblue;
    }
    
    #articulosalacapacitacion p a:visited {
        color: blue;
    }


#imagensalacapacitacion{
    display: flex;
    padding-top: 2%;
    justify-content: center;

}

#footer {
    width: 100%;
    background-image: url(../img/gray-concrete-wall.jpg);
    padding-bottom: 5px;

}

#articulofooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
    padding-top: 1%;
    border: 1px black solid;

}

.itemfooter1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 19%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 18%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter2 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;

}

.itemfooter1 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;

}

.itemfooter3 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.itemfooter4 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}


footer div a:link {
    color: blue;
}

footer div a:hover {
    background-color: lightblue;
}

footer div a:visited {
    color: blue;
}

.mainmapa {
    display: flex;
    flex-direction: column;
    width: 96%;
    background-image: url("../img/gray-concrete-wall.jpg");
    padding-top: 2%;
    /* padding-left: 16%; */
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    /* justify-content: center; */
    align-items: center;
}

.mainmapa div {
    border: 1px  black solid;
    display:flex;
justify-content: center;
    width: 70%;
    padding: 1%;
    background-color: #FFFFFF;
    border-radius: 10px;

}

iframe{
    margin: auto;
}

.titulomapa>p {
    text-align: center;
    font-size: 2.25em;
    font-family: 'Arial Narrow';
}

/*.mapa{
    width: 96%;
    padding: 10px 2%;
    display: inline-block;
    position: relative;
    }*/

/* .descripcionmapa {
    width: 96%;
    padding: 10px 2%;
    display: flex;
} */

.descripcionmapa>p {
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Arial Narrow';

}

.maincontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    background-image: url("../img/gray-concrete-wall.jpg");
    padding: 2%;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px black solid;
    padding: 1% 0%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: papayawhip;
}

.titulo1contacto,
.titulo2contacto {
    display: flex;
    width: 90%;
    padding: 1%;
    margin: 1%;
    font-family: 'Arial Narrow';
    border: 1px black solid;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
}

form {
    width: 94%;
  
}

form p {
    display: flex;
    flex-direction: column;
}

form p label {
    display: flex;
    justify-content: flex-start;
    /* border: 1px black solid; */
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 1%;
    font-family: 'Arial Narrow';

}

form p input {
    display: flex;
    border: 1px black solid;
    margin: 5px;
    height: 35px;
    border-radius: 10px;
    padding-left: 1%;
}

form p textarea {
    display: flex;
    border: 1px black solid;
    margin: 5px;
    height: 100px;
    border-radius: 10px;
    padding-left: 1%;
    font-family: 'Arial';
    padding-top: 1%;
}

button {
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-top: 1%;
    border-radius: 5px;
    border: 1px black solid;
    font-weight: bold;
}

.aviso {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 5px;
    /* margin-top: 2%; */
    margin-bottom: 1%;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 1em;
}

.imagencontacto {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 2%;

}



@media screen and (max-width: 860px) and (min-width: 400px) {

    figcaption {
        display: flex;
        color: white;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 1em;
        justify-content: center;
    }

    #contenedorheader {
        height: auto;
    }

    #logosredes {
        flex-direction: column;
    }

    #logosredes a {
        width: 100%;
    }

    #menuprincipal {
        height: auto;
    }

    #listamenu>li {
        height: 35px;
        padding: 10px 10px 0px 10px;
    }

    #listamenu li>ul {
        top: 45px;
    }

    #listamenu li>ul>li {
        width: max-content;
        height: 35px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }


    #listamenu a {
        font-size: 20px;
    }

    #mainindex h1 {
        margin-bottom: 5px;
        font-size: 1.5em;
    }

    .articulomain p {
        font-size: 1.0em;
    }

    #texto1,
    #texto2,
    #texto3,
    #texto4,
    #texto5,
    #texto6 {
        font-size: 1em;
    }

    .articulomain>img {
        width: 30%;
    }

    .articulo2main>p {
        font-size: 1.0em;

    }

    .articulo2main>figure {
        width: 120px;
        margin: auto;
    }

    .itemfooter1 p,
    a {
        font-size: 12px;
    }

    .itemfooter2 p,
    a {
        font-size: 12px;
    }

    .itemfooter3 p,
    a {
        font-size: 12px;
    }

    .itemfooter4 p,
    a {
        font-size: 12px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 80%;
        border: 1px black solid;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background-color: papayawhip;
    }

    .titulo1contacto>h1 {
        font-size: 25px;
    }

    .titulo2contacto>h3 {
        font-size: 12px;
    }


}

@media screen and (max-width: 400px) and (min-width: 200px) {
    figcaption {
        display: flex;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 1em;
        justify-content: center;
    }

    #contenedorheader {
        height: auto;
    }

    #logosredes {
        flex-direction: column;
    }

    #logosredes a {
        width: 100%;
    }

    #menuprincipal {
        height: auto;
    }

    #listamenu>li {
        height: 35px;
        padding: 10px 10px 0px 10px;
    }

    #listamenu li>ul {
        top: 45px;
    }

    #listamenu li>ul>li {
        width: max-content;
        height: 35px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }


    #listamenu a {
        font-size: 15px;
    }

    #mainindex h1 {
        margin-bottom: 5px;
        font-size: 1.2em;
    }

    .articulomain p {
        font-size: 0.8em;
    }

    #texto1,
    #texto2,
    #texto3,
    #texto4,
    #texto5,
    #texto6 {
        font-size: 0.8em;
    }

    .articulomain>img {
        width: 20%;
    }

    .articulo2main>p {
        font-size: 0.8em;

    }

    .articulo2main>figure {
        width: 120px;
        margin: auto;
    }

    .itemfooter1 p,
    a {
        font-size: 10px;
    }

    .itemfooter2 p,
    a {
        font-size: 10px;
    }

    .itemfooter3 p,
    a {
        font-size: 10px;
    }

    .itemfooter4 p,
    a {
        font-size: 10px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 90%;
        border: 1px black solid;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background-color: papayawhip;
    }

    .titulo1contacto>h1 {
        font-size: 25px;
    }

    .titulo2contacto>h3 {
        font-size: 12px;
    }



}



.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}




/* Prueba transform
.divpagos>p:hover{
    transform: rotate(45deg);
} */

/*Prueba de un before con una imagen*/
/*li::before{
    content:url(../img/Flechaarriba2.png);
}*/