* {
    margin: 0;
    padding: 0;

}

::selection {
    background-color: #7abcd8;
    color: white;
}

@font-face {
    font-family: 'Martin';
    src: url(../fonts/swissc.ttf);
}

@font-face {
    font-family: 'Martin2';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

#contenedorheader {
    display: flex;
    justify-content: center;
    height: 160px;
    /* background-color: cadetblue; */
    width: 96%;
    padding: 0% 2%;
    background-image: url(../img/Fondoheader2.jpg);
}

#logoprincipal{
    padding-left: 18%;
}


#logoprincipal img {
    margin: auto;
    display: block;
    border-style: none;
    justify-content: center;

}

figcaption {
    height: 30px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Arial Narrow';
    font-weight: bolder;

}

#logosredes{
padding-top: 1%;
padding-left: 10%;
flex-direction: row;
display: flex;

}
#logosredes>a{
margin-left: 1%;
 
}

#menuprincipal {
    display: flex;
    position: sticky;
    top: 0px;
    /*justify-content: center;*/
    width: 96%;
    height: 60px;
    padding: 0% 2%;
    background-color: #9FC8D9;
    /* border-top: 1px solid #094660; */
    /* border-bottom: 1px solid #094660; */
}

/* formato flex al contenedor hijo del nav*/
#menuprincipal>div {
    flex: 1;

}

/* aplicamos la pseudo hover cuando se pasa por encima del menu y cambia el color*/
#menuprincipal li:hover {
    background-color:#6FACC6;
}

/*formato para los <a> del menu*/
#menuprincipal a {
    color: #333333;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 24px;
    font-weight: bold;
}


#listamenu {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/* Formato a las li del menu princial les da formato relativo y las convierte en bloque inline*/
#listamenu>li {
    position: relative;
    display: inline-block;
    height: 45px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

/*"Esconde" el menu desplegable*/
#listamenu li>ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #9FC8D9;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}

/*estable las medidas del la lista del segundo ul anidado*/
#listamenu li>ul>li {
    width: 250px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    text-align: left;
}

/* el hover cuando pasas el mouse cambia la opcion de display y hace visible el menu desplegable*/
#listamenu li:hover ul {
    display: block;
}

/* formato a las <a> de las lista desordenadas*/
#listamenu a {
    color: #333333;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 24px;
    
}

/*formato para el contenerdor padre de la seccion principal - formato de flex centrado y un background de fondo*/
#mainindex {
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 2%;
    background-image: url("../img/marble_white.jpg");
}

/*formato del contenedor hijo donde de pondran las secciones de la pagina principal*/
#mainindex div {
    display: flex;
    flex: 1;
    max-width: 96%;
    padding: 0%;
}

#mainindex h1{
    margin-bottom: 5px;
    font-size: 2em;
    text-align: center;
    font-family: 'Arial Narrow';
    text-decoration: underline;
}

/*formato del contenedor nieto ja donde se pondran los articulos*/
#articulosprincipales {
    flex: 1;
    margin-right: 0px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.articulo1main{
    display: grid;
    width: 60%;
    padding: 2%;
    padding-left: 10%;
    padding-bottom: 1%;
    grid-template-areas: "a b c d"
                         "e f g h"
                         "i j k l"
                         ;

    grid-template-columns: 35px 1fr 35px 1fr;
    grid-template-rows: repeat(3, 50px);
    /* border: 1px solid black; */
    row-gap: 2%;
    column-gap: 1%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: max-content;
    align-items: center;
}

#icono1 {
    grid-area: a;
      }

   #icono2 {
       grid-area: c;
      } 

   #icono3 {
    grid-area: e;
   } 

   #icono4 {
    grid-area: g;
   } 

   #icono5 {
    grid-area: i;
   } 

  #icono6 {
    grid-area: k;
   } 

#texto1 {
    grid-area: b;
    justify-content:left ;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
   }
 
   #texto2 {
    grid-area: d;
    justify-content:left ;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
   }

   #texto3 {
    grid-area: f;
    justify-content:left ;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
   }

   #texto4 {
    grid-area: h;
    justify-content:left ;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
   }

   #texto5 {
    grid-area: j;
    justify-content:left ;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
   }

   #texto6 {
    grid-area: l;
    justify-content:left ;
    font-family: 'Arial Narrow';
    font-size: 1.5em;
   }

/* .articulomain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
  
} */


/*Formato del p dentro de los articulos*/
.articulomain p {
    font-size: 1.25em;
    text-align: justify;
    font-family: 'Arial Narrow';
     padding: 0% 2%;
}

/* .articulomain ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
 
    justify-content: space-evenly;
    float:inline-start;
    align-items: center;
} */

/* .articulomain>ul>li {
    font-family: 'Martin';
    font-size: 30px;
    float: left;
   

} */

.articulomain img{
    /* height: 35px; */
    width: 60%;
}


.articulo1main>img{
    height: 35px;
    width: 35px;
}

.articulo2main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0% 2% 2% 2%;
  
}

/*Formato del h1 dentro de los articulos*/
.articulo2main h1 {
    margin-bottom: 5px;
    font: bold 30px arial;
    text-align: center;
}

/*Formato del p dentro de los articulos*/
.articulo2main>p {
    font-size: 1.25em;
    text-align: justify;
    font-family: 'Arial Narrow';
    padding: 2% 2% 0% 2%;
}

/*Formato del p dentro de los articulos*/
.articulo2main>p>a {
    font-size: 1em;
    font-family: 'Arial Narrow';
   }

   .articulo2main>p>a:visited {
    color: blue;
}

.articulo2main>p>a:link {
    color: blue;
}

/*formato para la seccion figure donde estan las imagenes*/
figure {
    margin: 10px 0px;
}

/*formato de las imagenes*/
#articulosprincipales figure img {
    max-width: 98%;
    display: block;
    padding: 1%;
    /* border: 1px solid black; */
    margin: auto;
}

#reproductor {
    display: flex;
    justify-content: center;
}


/*#contenedorfooter ul {
    position: relative;
    display: inline-block;
    list-style: none;
    height: 90px;
    width: 94%;
    padding-left: 1%;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    text-align: left;
    font-family: Martin;
    font-size: 14px;
}*/

#footer {
    width: 100%;
    background-image: url(../img/marble_white.jpg);
    padding-bottom: 5px;

}

#articulofooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
    padding-top: 1%;
    border: 1px black solid;

}

.itemfooter1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 19%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 18%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter2 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
 
}

.itemfooter1 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
  
}

.itemfooter3 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.itemfooter4 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}


footer div a:link {
    color: blue;
}

footer div a:hover {
    background-color: lightblue;
}

footer div a:visited {
    color: blue;
}

.mainmapa {
    display: block;
    position: relative;
    width: 82%;
    background-image: url("../img/marble_white.jpg");
    padding-top: 2%;
    padding-left: 16%;
    padding-right: 2%;
    padding-bottom: 2%;
    justify-content: center;
}

.mainmapa div {
    border: 2px red solid;
    display: inline-block;

    width: 80%;
    padding: 1%;
    background-color: #FFFFFF;
    border-radius: 10px;

}


.titulomapa>p {
    text-align: center;
    font-size: 2em;
    font-family: 'Arial Narrow';
}

/*.mapa{
    width: 96%;
    padding: 10px 2%;
    display: inline-block;
    position: relative;
    }*/

.descripcionmapa {
    width: 96%;
    padding: 10px 2%;
    display: inline-block;
    position: relative;
}

.descripcionmapa>p {
    text-align: justify;
    font-size: 1em;
    font-family: Martin2;

}

.maincontacto {
    display: flex;
    width: 96%;
    background-image: url("../img/marble_white.jpg");
    padding: 2%;
    border: 1px black solid;
    }
.titulocontacto{
    text-align: center;
    padding: 2%;
    font-family: 'Arial Narrow';
    border: 1px black solid;
    width: 96%;
}


/* Prueba transform
.divpagos>p:hover{
    transform: rotate(45deg);
} */

/*Prueba de un before con una imagen*/
/*li::before{
    content:url(../img/Flechaarriba2.png);
}*/