* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(../img/marble_white.jpg);
}

::selection {
    background-color: #7abcd8;
    color: white;
}

@font-face {
    font-family: 'Martin';
    src: url(../fonts/swissc.ttf);
}

@font-face {
    font-family: 'Martin2';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

#contenedorheader {
    display: flex;
    justify-content: center;
    height: 160px;
    /* background-color: cadetblue; */
    width: 96%;
    padding: 0% 2%;
    background-image: url(../img/Fondoheader2.jpg);
}

#logoprincipal {
    padding-left: 18%;
}

/* #contenedorheader div {
    flex: 1;
    padding-top: 0;
    width: 96%;
    margin: 0 auto;
} */

#logoprincipal img {
    margin: auto;
    display: block;
    border-style: none;
    justify-content: center;

}


figcaption {
    height: 30px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Arial Narrow';
    font-weight: bolder;

}

/*formato para la seccion figure donde estan las imagenes*/
figure {
    margin: 10px 0px;
}

#logosredes {
    padding-top: 1%;
    padding-left: 10%;
    flex-direction: row;
    display: flex;

}

#logosredes>a {
    margin-left: 1%;

}

#menuprincipal {
    display: flex;
    position: sticky;
    top: 0px;
    /*justify-content: center;*/
    width: 96%;
    /*height: 50px;*/
    padding: 0% 2%;
    background-color: #9FC8D9;
    /* border-top: 1px solid #094660; */
    /* border-bottom: 1px solid #094660; */
}

/* formato flex al contenedor hijo del nav*/
#menuprincipal>div {
    flex: 1;

}

/* aplicamos la pseudo hover cuando se pasa por encima del menu y cambia el color*/
#menuprincipal li:hover {
    background-color: #6FACC6;
}

/*formato para los <a> del menu*/
#menuprincipal a {
    color: #333333;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 24px;
    font-weight: bold;
}


#listamenu {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/* Formato a las li del menu princial les da formato relativo y las convierte en bloque inline*/
#listamenu>li {
    position: relative;
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

/*"Esconde" el menu desplegable*/
#listamenu li>ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #9FC8D9;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}

/*estable las medidas del la lista del segundo ul anidado*/
#listamenu li>ul>li {
    width: 250px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    text-align: left;
}

/* el hover cuando pasas el mouse cambia la opcion de display y hace visible el menu desplegable*/
#listamenu li:hover ul {
    display: block;
}

/* formato a las <a> de las lista desordenadas*/
#listamenu a {
    color: #333333;
    text-decoration: none;
    font-family: 'Arial Narrow';
    font-size: 24px;
}

.contenedorpagos {
    display: grid;
    width: 94%;
    padding: 1%;
    padding-bottom: 1%;
    grid-template-areas: "f f f"
        "s a t"
        "s a t"
        "s a t";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(3, 1fr);
    /* border: 1px solid black; */
    row-gap: 2%;
    column-gap: 1%;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: max-content;

}

.secciontitulo {
    background-color: white;
    /* border: 1px black solid; */
    border-radius: 10px;
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secciontitulo>h1 {
    width: 96%;
    background-color: white;
    font-family: 'Martin';
    font-size: 2em;
    color: black;
    text-decoration: underline;
    background-image: url(../img/marble_white.jpg);
    padding: 1%;
    border-radius: 10px;
    text-align: center;

}


.seccion1 {
    background-color: white;
    /* border: 1px black solid; */
    border-radius: 10px;
    grid-area: s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 3% 5%;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    /* height:max-content; */
}

/* .seccion1>div{
    display: flex;
    flex-wrap: wrap;
 
    
} */
.tituloseccion>h1 {
    display: flex;
    height: 40px;
    font-family: 'Martin';
    font-size: 1.25em;
    text-decoration: underline;
    justify-content: center;


}

.seccion1>div>h3 {
    height: 40px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Martin';
    text-decoration: underline;

}

.seccion1>div>p {
    text-align: justify;
    font-family: 'Martin';
    width: auto;
}

.seccion2 {
    background-color: white;
    /* border: 1px black solid; */
    border-radius: 10px;
    grid-area: a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3% 5%;
    justify-content: flex-start;
    align-items: center;
    height: max-content;
}

.seccion2>div>p {
    text-align: justify;
    font-family: 'Martin';
    width: auto;
}

.seccion3 {
    background-color: white;
    /* border: 1px black solid; */
    border-radius: 10px;
    grid-area: t;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3% 5%;
    justify-content: flex-start;
    align-items: center;
    /* height:max-content; */
}

.seccion3>div>p {
    text-align: justify;
    font-family: 'Martin';
    width: auto;
}

.seccion3>p {

    font-family: 'Martin';
}

.listacriptos>ul {
    display: flex;
    flex-direction: column;
    font-family: 'Martin';
}

.imagenabajo {
    display: flex;
    height: 200px;
    width: 94%;
    border-radius: 10px;
    /* border: 1px black solid; */
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    background-image: url(../img/Imagen\ Cow1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

}

/* div>img{
width: 96%;
padding-bottom: 1%;
padding-left: 2%;
padding-right: 2%;
padding-top: 1%;

} */

#reproductor {
    display: flex;
    justify-content: center;
}

#footer {
    width: 100%;
    background-image: url(../img/marble_white.jpg);
    padding-bottom: 5px;

}

#articulofooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
    padding-top: 1%;
    border: 1px black solid;

}

.itemfooter1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 19%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 18%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16%;
    margin: 0% 1% 1% 1%;
    padding: 1%;
    background-color: white;
    text-align: center;
    /*border: 2px rgb(63, 98, 196) dashed;*/

}

.itemfooter2 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.itemfooter1 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.itemfooter3 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}

.itemfooter4 p,
a {
    font-family: 'Arial Narrow';
    font-size: 16px;
}


footer div a:link {
    color: blue;
}

footer div a:hover {
    background-color: lightblue;
}

footer div a:visited {
    color: blue;
}


@media screen and (max-width: 640px) {
    .container {
        grid-template-areas: "f f f"
            "s s s"
            "a a a"
            "t t t";
    }
}